body{
    background: rgb(21, 30, 104);
    color: rgb(173, 92, 25);
}

header{
   font-size: 2cm;
}

div{
    color: chocolate;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 5px groove rgb(238, 138, 8);
    background-color: rgb(0, 4, 7);
    font-family: 'Dancing Script', cursive;font-size: 2cm;
    padding: 3px;


}

.navup{
    text-decoration: none;
    background-color: rgb(7, 7, 7);
    margin: 1%;
    margin-top: 10px;


    
    margin-bottom: 2%;
    color: rgb(245, 143, 10);
    border: 1px solid rgb(250, 126, 55);
    padding: 5px;
    margin-bottom: 40px;
}
nav{
text-align: center;
color: rgb(14, 66, 163);
font-style: italic;
font-size: 0.5cm;
}
h1{
    text-align: center;
color: rgb(4, 24, 61);
font-style: italic;
font-size: 2cm;
}

#entrenando{
    width: 40%;
    align-self: center;
}
footer{
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-size: 5mm;
    font-weight: 500;

}

.izq{
    text-align: left;
}
.der{
    text-align: right;
}